@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Protest+Guerrilla&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #193f4e;
}